@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap);

body {
    background-color: #08546c;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-reader b {
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
}

.form-control {
    width: 90%;
    margin: 0 4%;
    display: flex;
    position: relative;
}

.btn-outline-success {
    width: 87.5%;
    margin: 0 5%;
}